.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-color{
  background-color: #282c34;
}
.card_style{
  width: 18rem;
}
.nav_ul{
  margin-top: 8px;
}
.addcolor{
  color: rgb(107, 107, 107);
}
.toppad{
  padding-top: 120px;
}
.toppadplus{
  padding-top: 200px;
}
.btnalign{
  margin-top:20px;
  width: 100px;
  float: right;
}
.signdiv{
  width: 500px;
  text-align: center;
}

.inp{
  text-align: center;
}